body{
	font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 18px;
}

.navbar-expand-lg .navbar-nav {
    margin-right: 20%;
}
.navbar-light .navbar-brand {
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
}
.bg_screen{
	background-color: #e0e0e0;
	width: 100%;
 	height: 1000px;
 	overflow: hidden;
}
.title_branch h1 {
    font-weight: 900;
    font-size: 75px;
}
.center p {
    color: #777;
    font-size: 14px;
}
.center a {
    background: #ff214f;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 23px;
    color: #FFF;
}
.bg-light {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navbar {
    background: #e0e0e0 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-0 {
    padding: 10px 0 !important;
}
.menu {
    height: 75px;
}
.title_branch.w-100.h-50.d-flex.justify-content-center.align-items-center.flex-wrap {
    position: relative;
    z-index: 10;
}
 
 
.img_header .img_1 {
    position: absolute;
    top: -150px;
    left: -500px;
    transform: rotate(-40deg);
    transition: 1.5s all;
}
img.img_1.img-fluid {
    width: 38%;
}

 
.menu_2 nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #000 !important;
    padding: 2px 1px;
    top: 0;
    left: 0;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.menu_2 a {
    color: white !important;
}

.menu_2  .nav-item a.nav-link {
    color: white !important;
}
.menu.d-flex.align-items-center.menu_2 a {
    color: white;
}
.menu.d-flex.align-items-center {
  
    transition: 0.5s all;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    transition: 0.3s all;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-0.menu_2 {
    background: black !important;
    padding: 5px 0 !important;
    transition: 0.5s all;
}
img.img_2.img-fluid {
    position: absolute;
    top: -150px;
    right: -100px;
    transform: rotate(300deg);
    transition: 1.5s all;
}
img.img_3.img-fluid {
    position: absolute;
    top: 500px;
    left: -500px;
    transition: 1.5s all;
}
img.img_4.img-fluid {
    position: absolute;
    left: 170px;
    transform: rotate(65deg);
    transition: 1.5s all;
}
img.img_5.img-fluid {
    position: absolute;
    bottom: -100px;
    left: 150px;
    transition: 1.5s all;
}
img.img_6.img-fluid {
    position: absolute;
    bottom: 0px;
    left: 550px;
    transform: rotate(45deg);
    transition: 1.5s all;
}
img.img_7.img-fluid {
    position: absolute;
    bottom: 100px;
    left: 504px;
    transform: rotate3d(1, 1, 28, -155deg);
    transition: 1.7s all;
}
img.img_8.img-fluid {
    position: absolute;
    bottom: 450px;
    right: -300px;
    transform: rotate(105deg);
    transition: 1.5s all;
}

img.img_9.img-fluid {
    position: absolute;
    right: -690px;
    bottom: 0;
    transform: rotate(-120deg);
    transition: 1.5s all;
}